body {
    font-family: Tahoma;
    text-align: left;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: rgb(21, 37, 108); 
    text-transform: initial;
}

.usertitle {
    font-weight: bold;
}

.posttimestamp {
    font-size: 10px;
    padding: 5px;
    margin: 4px 3px 4px 3px;
    font-family: Cambria;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:800px) {
    .post-box {
        border-radius: 10px;
        display: flex;
        vertical-align: middle;
        background-color: rgb(61, 61, 61);
        color: #cdcdcd;
        margin: 4px 3px 4px 3px;
        width: 156px;
        height: 250px;
    }
}

@media screen and (min-width: 800px) and (max-width:1200px) {
    .post-box {
        border-radius: 10px;
        display: flex;
        vertical-align: middle;
        background-color: rgb(61, 61, 61);
        color: #cdcdcd;
        margin: 4px 3px 4px 3px;
        width: 156px;
        height: 250px;
    }
}

@media screen and (min-width:1200px) {
    .post-box {
        border-radius: 10px;
        display: flex;
        vertical-align: middle;
        background-color: rgb(61, 61, 61);
        color: #cdcdcd;
        width: 156px;
        margin: 4px 3px 4px 3px;
        height: 250px;
    }
}

.flash-container {
    font-size: 10px;
    font-family: Tahoma;
    height: 35px;
    color: rgb(16, 65, 81);
    margin: auto;
    background: rgb(243, 224, 185);
    padding: 10px;
}

.movietitle {
    color: #cdcdcd;
    text-decoration: none;
    :hover{
        color: #f8f8f8;
    }
}

.review_box{
    display: flex;
    background-color: #e0e9f1;
    width: 100%;
    margin: 4px 3px 4px 3px;
    padding: 10px;
    border-radius: 5px;
}

.friend_box{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    background-color: #e0e9f1;
    margin: 4px 3px 4px 3px;
    padding: 10px;
    height: 50px;
}
