{% extends "base.html" %}



{% block app_content %}

    <h2>Add a Friend</h2>
    {% if getFriendForm %}
        <form method="post">
            {{ getFriendForm.hidden_tag() }}
            <div>
                {{ getFriendForm.friend_username.label(class="form-control-label") }}
                {{ getFriendForm.friend_username(class="form-control") }}
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Add Friend</button>
            </div>
        </form>
    {% endif %}

    <h1>Your Friends</h1>
    <div class="postlist">
        {% for friend in friends %}
            <div class="friend_box">{{ friend.username }}</div>
        {% endfor %}
    </div>

{% endblock %}
