{% extends "base.html" %}
     
{% block app_content %}
    <h1>Reviews for {{ title }}</h1>
    <div>
        <h3> Average Rating Score: {{ average }}</h3>
        <h3> Totals ratings: {{ reviews | length }} </h3>
        <p> <a href="{{ url_for('routes.postReview', title=title)}}">  Add a rating or review </a> </p>

        <h3> Reviews: </h3>
        {% for review in reviews %}
            <table class="review_box", style="overflow-y:scroll", height="100px"> 
                <tr> 
                    <td colspan="1" width="90%">
                        <strong> Title: {{review.movie_title }} </strong>
                        <br>
                        <strong> Rating: {{ review.rating }}</strong>
                        <p> {{ review.review }}</p>
                    </td>
                    <td colspan="2" align="right">
                        <form action="{{url_for('routes.like', post_id = review.id, title = review.movie_title)}}" method = "post">
                            <input type ="submit" value="Like" class="likebtn">  
                            Likes: {{review.likecount}}
                        </form>

                    </td>
                </tr>
                <br>
            </table>
        {% endfor %}
    </div>
{% endblock %}