{% extends "base.html" %}

{% block app_content %}
    <nav class="navbar">
        <span class="container">
            <span class="navbar-header">
                <span > <h1> Movies </h1> </span>
            </span>
            <span class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if form %}
                        <form action="normal_index" method="POST" style="padding-left:15px;" class="formselect">

                            {{ form.hidden_tag() }}

                            {{ form.sort_by.label }}
                            <span class="formselect">
                                {{ form.sort_by() }}
                            </span>

                            {{ form.sort_genre.label }}
                            <span class="formselect">
                                {{ form.sort_genre() }}
                            </span>

                            <span style="margin-left:5px;">
                                {{ form.submit(class="btn btn-outline-success my-2 my-sm-0") }}  
                            </span>

                            <span class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search", name="search_query">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </span>
                        </form>
                    {% endif %}
                </ul>
            </span>
        </span>
    </nav>


    <div class = "postlist">
    {% for movie in movies %}
       <div class = post-box> {% include '_post.html' %}  </div>
    {% endfor %}
    </div>

    
{% endblock %}