{% extends "base.html" %}

{% block app_content %}
    <h1> {{ current_user.username }} Profile </h1>
    <h3>Your Reviews:</h3>
    <p><a href="{{url_for('routes.watchLater')}}">Click to see your to watch-later list</a></p>
    <p><a href="{{url_for('routes.watched')}}">Click to see your watched list</a></p>
    <p><a href="{{url_for('routes.seeRecommended')}}">Click to see your to friends recommendations</a></p>
    {% for review in user_reviews %}
        <table class="review_box", style="overflow-y:scroll", height="100px"> 
            <tr> 
                <td colspan="1">
                    <strong> Title: {{review.movie_title }} </strong>
                    <br>
                    <strong> Rating: {{ review.rating }}</strong>
                    <p> {{ review.review }}</p>
                    {% if review.member_id == current_user.id %}
                        <a href="{{ url_for('routes.edit_review', review_id=review.id) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
            <br>
        </table>
    {% endfor %}
{% endblock %}

